
 <nav class="navbar navbar-default  navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Impute</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
     
      <ul class="nav navbar-nav navbar-right">
            <li><a href="/www/terms_of_use.html">Terms-of-use</a></li>
            <li><a href="/contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/imputeme/">ImputeMe <b>(start here)</b></a></li>
            <li><a href="/AllDiseases/">GWAS calculator</a></li>
            <li><a href="/ukbiobank/">UK-biobank calculator <b>(new)</b></a></li>
            <li><a href="/guessMyHeight/">Appearance</a></li>
            <li><a href="/ethnicity/">Ethnicity</a></li>
            <li><a href="/precisionMedicine/">Drug response</a></li>
            <li><a href="/rareDiseases/">Rare Diseases</a></li>
            <li><a href="/nonsenser/">Mutation senser</a></li>
            <li><a href="/BRCA/">BRCA</a></li>
            <li><a href="/opinions/">Politics</a></li>
            <li><a href="/kandinsky/">Kandinskyfy yourself <b>(new)</b></a></li>
            <li><a href="/athletics/">Athletic performance</a></li>
            <li><a href="/autoimmuneDiseases/">Autoimmune disease risk <i>(legacy)</i></a></li>
            <li><a href="/leukemia/">Leukemia risk <i>(legacy)</i></a></li>
            <li><a href="/microbiome/">Microbiomics <i>(legacy)</i></a></li>
            <li><a href="/HeuristicHealth/">Health-scanner <i>(non-functional)</i></a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>